[Unit]
Description=Automatically Add certain processes to Mullvad Split Tunnel
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/split-tunnel.sh
Restart=always
User=USERNAME HERE
Group=USERNAME HERE

[Install]
WantedBy=multi-user.target
